@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$textColor;
    display: flex;
    justify-content: space-between; //para distribuir os elementos dentro da div.

    &__infos {
        display: flex; //Para o conjunto estar um ao lado do outro.
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$secondadryTextColor;

            b {
                color: variables.$secondadryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px; //Aumentar ou diminuir o espaçamento entre os items.
        }
    }
}